/* src/index.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

input {
  padding: 10px;
  width: 100%;
  margin: 20px 0;
  box-sizing: border-box;
}

.book-card {
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-results, .bookshelf {
  display: flex;
  flex-wrap: wrap;
}

button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
